In [2]:
def f(m, n):
    x = m + n
    return (((x - 2) * (x - 1)) // 2) + m

def f_inverse(y):
    x = (3 + sqrt(8 * y + 1)) // 2
    m = y - ((x - 2) * (x - 1)) // 2
    n = x - m
    return m, n

In [3]:
def c(x, y):
    sum = 0
    for i in range(0, x + 1):
        sum += i
    for j in range(x + 2, y + 3):
        sum += j
    return sum

In [4]:
f(3,5)

24

In [5]:
c(3,5)

24

In [6]:
f(1,4)

7

In [7]:
c(1,4)

19

In [8]:
f(0, 4)

3

In [11]:
f(2,1)

3

f() cannot use 0s. It starts returning duplicate natural numbers

Both C+() and f() are intended to assign unique natural numbers to unique ordered pairs